/**
 * Custom theme for reveal.js
 *
 */
 
 // Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,300italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Pacifico:400);

/*********************************************
* GLOBAL STYLES
*********************************************/
body {
    background: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%);
    font-family: "Poppins", sans-serif;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: .125em;
    line-height: 1.25em;
    color:black;
}

.slides section {
    top: 40px !important;
}

.slides .first {
    top: 140px !important;
}

.first {
    font-size: 88px;
}

.subtitle {
    font-size: 64px;
    text-align: left;
    margin-bottom: 96px;
}

.content .fragment {
    padding: 24px;
    text-transform: capitalize;
}

body:after {
    content: url(../../images/gabi_dombrowski_urlQR.png);
    position: fixed;
    bottom: .25em;
    right: 1em;
    z-index: 100;
}

body:before {
    content: "@thegabdom | CC BY-SA 4.0";
    position: fixed;
    font-size: .4em;
    bottom: 1em;
    left: 1em;
    z-index: 100;
}