/**
 * Custom theme for reveal.js
 *
 */
 
 // Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,300italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Righteous&display=swap);

/*********************************************
* GLOBAL STYLES
*********************************************/
body {
    background: linear-gradient(25deg, rgba(2,0,36,.3) 0%, rgba(93,9,121,.3) 50%, rgba(0,255,231,.2) 100%);
    font-family: "Poppins", sans-serif;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: .125em;
    line-height: 1.25em;
    color:black;
}

a {
    color: #009981;
    text-decoration: none;
    font-size: 32px;
}

.slides section {
    top: 80px !important;
}

.first {
    font-size: 112px;
    line-height: 1.5em;
    margin-top: 140px !important;
}

.topic {
    font-size: 96px;
}

.title-wrapper {
    display: flex;
    justify-content: flex-start;
}

.title-wrapper.center {
    justify-content: center;
}

.title {
    background: #FFD0AE;
    font-family: 'Righteous', cursive;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    transform: rotate(-4deg) skew(-5deg);
}

.subtitle {
    background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #FFD0AE 65%);
    font-size: 72px;
    font-style: italic;
    text-align: left;
    margin-bottom: 56px;
    transform: rotate(0deg) skew(0deg);
}

.content {
    padding-top: 96px;
}

.content p {
    padding: 36px 0px;
    font-size: 64px;
}

.content.single {
    margin-top: 56px;
}

.links {
    display: inline-flex;
    flex-direction: column;
    margin-top: 72px;
    text-align: left;
    line-height: .45em;
}

.links a {
    padding: 8px 96px;
}

body:after {
    content: url(../../images/gabi_dombrowski_urlQR.png);
    position: fixed;
    bottom: .25em;
    right: 1em;
    z-index: 100;
}

body:before {
    content: "@thegabdom | CC BY-SA 4.0";
    position: fixed;
    font-size: .4em;
    bottom: 1em;
    left: 1em;
    z-index: 100;
}